#canvas{
    border-top : 1px solid #000000;
    border-right : 1px solid #000000;
    border-left : 1px solid #000000;
    border-bottom : 1px solid #FF0000;
}
#canvasMaster{
    text-align : center;
    justify-content: center;
    margin-top : 64px;
}
/*#sixtyLine{
    margin-top : 32px;
}
#zeroLine{
    margin-top : 32px;
}
#time{
    margin-bottom : 32px;
}*/