.topDiv{
    display : block;
    text-align : center;
}
h1{
    margin-bottom : 0px;
}
h5{
    margin-top : 0px;
}
#rule{
    display : inline-block;
}
#rule-text{
    display : inline-block;
    text-align : left;
}
.rule-image{
    display : inline-block;
}
button{
    margin-bottom : 8px;
}
#score{
    text-align : center;
}
.dScore{
    text-align : left;
    display : inline-block;
}
#credit{
    text-align : left;
}