.topDiv{
    display : block;
    text-align : center;
}
h1{
    margin-bottom : 0px;
}
h5{
    margin-top : 0px;
}
#rule{
    display : inline-block;
    text-align : left;
}
button{
    margin-bottom : 8px;
}